/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(http://at.alicdn.com/t/font_620352_dtnj0xw2n0khjjor.css);
body{
  margin: 0px;
}
* {
  box-sizing: border-box
}



// 自定义字体
$fonts: 14,
16,
18,
20,
22,
24,
26,
28,
30,
32,
34;
@each $font in $fonts {
    .font_#{$font} {
        font-size:#{$font}px;
    }
}

// margin
$nums: 2,
3,
4,
5,
10,
15,
20,
25,
30,
40;
@each $num in $nums {
    .mart_#{$num} {
        margin-top: #{$num}px;
    }
}

@each $num in $nums {
    .marb_#{$num} {
        margin-bottom: #{$num}px;
    }
}

@each $num in $nums {
    .marl_#{$num} {
        margin-left: #{$num}px;
    }
}

@each $num in $nums {
    .marr_#{$num} {
        margin-right: #{$num}px;
    }
}

i{
  cursor: pointer;
}

.border{
  .mat-button-focus-overlay {
    background: rgba(70,147,255,1);
    opacity: 0.15!important;
  }
}


.flex_grow{
  flex:1
}
