<div class="home">
  <div class="meetings">
    <div class="meeting">
      <div class='icon' style="background: #2BCCC0">
        <i class="iconfont icon-9"></i>
      </div>
      <div class="text">
        <div class='num'>10</div>
        <div>已预约</div>
      </div>
    </div>
    <div class="meeting">
      <div class='icon' style="background: #FE7156">
        <i class="iconfont icon-hourglass"></i>
      </div>
      <div class="text">
        <div class='num'>10</div>
        <div>进行中</div>
      </div>
    </div>
    <div class="meeting">
      <div class='icon' style="background: #4693FF">
        <i class="iconfont icon-yijieshu"></i>
      </div>
      <div class="text">
        <div class='num'>10</div>
        <div>已结束</div>
      </div>
    </div>
    <div class="meeting">
      <div class='icon' style="background: #F9C22D">
        <i class="iconfont icon-qunfengguoqi"></i>
      </div>
      <div class="text">
        <div class='num'>10</div>
        <div>未进行</div>
      </div>
    </div>

  </div>
  <div class="totay_title">
    <div>今日会议</div>
    <div class="more">
      更多>
    </div>
  </div>
  <div class="today">
    <div class="meet">
      <div class="space"></div>
      <div class="title">
        关于会议UI界面讨论
      </div>
      <div class="address">
        <i class="iconfont icon-dingwei"></i> 关于会议UI界面讨论
      </div>
      <div class="host">
        <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='70'></app-avatar>
        <div class='host_info'>
          <div class="name">某某某</div>
          <div class="label">发起人</div>
          <div class="time">10:30AM</div>
        </div>
      </div>
      <div class="members">
        <div class="confirm_div">
          <div class="confirm">16人确认参加</div>
          <div class="disconfirm">3人未响应</div>
        </div>
        <div class="member_div">
          <div class="mem_avatars">
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
          </div>
          <div>更多</div>
        </div>
      </div>
      <div class="footer">
        查看详情
      </div>
    </div>

    <div class="meet">
      <div class="space"></div>
      <div class="title">
        关于会议UI界面讨论
      </div>
      <div class="address">
        <i class="iconfont icon-dingwei"></i> 关于会议UI界面讨论
      </div>
      <div class="host">
        <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='70'></app-avatar>
        <div class='host_info'>
          <div class="name">某某某</div>
          <div class="label">发起人</div>
          <div class="time">10:30AM</div>
        </div>
      </div>
      <div class="members">
        <div class="confirm_div">
          <div class="confirm">16人确认参加</div>
          <div class="disconfirm">3人未响应</div>
        </div>
        <div class="member_div">
          <div class="mem_avatars">
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
            <app-avatar src='http://static.dingtalk.com/media/lADPBbCc1Vk_hNjNA8DNAhw_540_960.jpg' type='radio' size='39'>
            </app-avatar>
          </div>
          <div>更多</div>
        </div>
      </div>
      <div class="footer">
        查看详情
      </div>
    </div>

    <div class=" meet add_meet">
        <div class="add">
          <i class="iconfont icon-ic_add_circle_outline"></i>
          <div>
            新增会议
          </div>
        </div>
      </div>
  </div>

</div>
